# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Hardhat / Foundry artifacts
artifacts/
cache/
out/

# Django
*.log
local_settings.py
db.sqlite3
media/
migrations/

# JS
node_modules/
dist/
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
.DS_Store